<!-- <header th:fragment="header">
	<nav class="navbar navbar-inverse ">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{'/'}">Spring MVC Home</a>
			</div>
			<div id="navbar">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a th:href="@{'/user/add'}"> Add User</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header> -->
<div th:fragment="header">
<header class="header-area">
	<!-- Search Form -->
	<div class="search-form d-flex align-items-center">
		<div class="container">
			<form th:action="@{/search}" th:object="${userSearch}">
				<input type="search" name="search-form-input" id="searchFormInput"
					placeholder="Type your keyword ...">
				<button type="submit">
					<i class="icon_search"></i>
				</button>
			</form>
		</div>
	</div>

	<!-- Top Header Area Start -->
	<div class="top-header-area">
		<div class="container">
			<div class="row">

				<div class="col-6">
					<div class="top-header-content">
						<a th:href="@{#}"><i class="icon_phone"></i> <span>(123)
								456-789-1230</span></a> <a th:href="@{#}"><i class="icon_mail"></i> <span>info.colorlib@gmail.com</span></a>
					</div>
				</div>

				<div class="col-6">
					<div class="top-header-content">
						Top Social Area
						<div class="top-social-area ml-auto">
							<a th:href="@{#}"><i class="fa fa-facebook"
								aria-hidden="true"></i></a> <a th:href="@{#}"><i
								class="fa fa-twitter" aria-hidden="true"></i></a> <a th:href="@{#}"><i
								class="fa fa-instagram" aria-hidden="true"></i></a> <a
								th:href="@{#}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- Top Header Area End -->

	<!-- Main Header Start -->
	<div class="main-header-area">
		<div class="classy-nav-container breakpoint-off">
			<div class="container">
				<!-- Classy Menu -->
				<nav class="classy-navbar justify-content-between" id="robertoNav">

					<!-- Logo -->
					<a class="nav-brand" th:href="@{#}"> <img
						th:src="@{assets/img/core-img/logo.png}" alt="">
					</a>

					<!-- Navbar Toggler -->
					<!-- <div class="classy-navbar-toggler">
						<span class="navbarToggler"><span></span><span></span><span></span></span>
					</div> -->

					<!-- Menu -->
					<div class="classy-menu">
						<!-- Menu Close Button -->
						<div class="classycloseIcon">
							<div class="cross-wrap">
								<span class="top"></span><span class="bottom"></span>
							</div>
						</div>
						<!-- Nav Start -->
						<div class="classynav justify-content-between">
							<ul id="nav">
								<li class="active"><a th:href="@{#}">Home</a></li>
								<li><a th:href="@{#}">Rooms</a></li>
								<li><a th:href="@{#}">About Us</a></li>
								<li><a th:href="@{#}">Pages</a>
									<ul class="dropdown">
										<li><a th:href="@{#}">- Home</a></li>
										<li><a th:href="@{#}">- Rooms</a></li>
										<li><a th:href="@{#}">- Single Rooms</a></li>
										<li><a th:href="@{#}">- About Us</a></li>
										<li><a th:href="@{#}">- Blog</a></li>
										<li><a th:href="@{#}">- Single Blog</a></li>
										<li><a th:href="@{#}">- Contact</a></li>
										<li><a th:href="@{#}">- Dropdown</a>
											<ul class="dropdown">
												<li><a th:href="@{#}">- Dropdown Item</a></li>
												<li><a th:href="@{#}">- Dropdown Item</a></li>
												<li><a th:href="@{#}">- Dropdown Item</a></li>
												<li><a th:href="@{#}">- Dropdown Item</a></li>
											</ul></li>
									</ul></li>
								<li><a th:href="@{#}">News</a></li>
								<li><a th:href="@{#}">Contact</a></li>
							</ul>

							<!-- Search -->
							<div class="search-btn ml-6" style="padding-right: 20px">
								<i class="fa fa-search" aria-hidden="true"></i>
							</div>

							<!-- Book Now -->
							<div class="book-now-btn ml-3 ml-lg-5">
								<a th:href="@{#}">Book Now <i class="fa fa-long-arrow-right"
									aria-hidden="true"></i></a>
							</div>
						</div>
						<!-- Nav End -->
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>
</div>

