<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="../layout/base-layout">
<div layout:fragment="body">
    <h1 th:text="#{signUpPage}">Sign Up Page</h1>
    <div class="container" style="margin: 0 auto;">
        <br/>
        <div class="col-md-6" style="margin: 0 auto;">
            <form action="#" th:action="@{/create-user}" class="form-horizontal" method="post"
                  th:object="${userFormCreate}">

                <div class="form-group">
                    <label class="col-sm-2 control-label" th:text="#{userName}">Username</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{userName}" class="form-control" th:placeholder="#{userName}"/>
                        <li th:errors="*{userName}" class="error"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" th:text="#{email}">Email</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{email}" class="form-control" placeholder="Email"/>
                        <li th:errors="*{email}" class="error"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" th:text="#{name}">Name</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{name}" class="form-control" th:placeholder="#{name}"/>
                        <li th:errors="*{name}" class="error"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" th:text="#{password}">Password</label>
                    <div class="col-sm-10">
                        <input type="password" th:field="*{password}" class="form-control"
                               th:placeholder="#{password}"/>
                        <li th:errors="*{password}" class="error"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" th:text="#{confirmPassword}">Confirm password</label>
                    <div class="col-sm-10">
                        <input type="password" th:field="*{confirmPassword}" class="form-control"
                               th:placeholder="#{confirmPassword}"/>
                        <li th:errors="*{confirmPassword}"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <button type="submit" th:text="#{signUp}">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>